doctype html
html

  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='ReactConf App Showbag')
    meta(name='author', content= "Thinkmill")
    
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="img/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="img/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="img/favicons/manifest.json")
    link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#1D1918")
    meta(name="theme-color", content="#241F20")

    title ReactConf App Showbag
    meta(property="og:title", content="ReactConf Showbag")
    meta(property="og:description", content="Running a conference? Learning React? Here's a bag of freebies to get you on your way")
    meta(property="og:image", content="https://thinkmill.github.io/react-conf-app/img/favicons/apple-touch-icon.png")
    meta(property="og:url", content="https://thinkmill.github.io/react-conf-app")
    meta(property="og:site_name", content="ReactConf App Showbag")

    != css()

  body
    block content

    != js()
