.footer
	padding: 2.5rem 0
	text-align: center;

	&__logo__img
		width: (60/$font-size)rem

	&__byline
		margin-top: 1.25rem

	&__copyright
		color: rgba(0,0,0,0.5)
		font-size: 0.875rem
		margin-top: 0.6125rem

	&__link
		color: currentColor
		text-decoration: none

		&:hover
			text-decoration: underline
