.hero
	background-color: white
	color: #FFF
	padding: 2.5rem 0
	position: relative
	text-align: center

	&__bg
		background-color: #121212
		height: 110%
		left: 50%
		margin-left: -100%
		position: absolute
		top: -15%
		width: 200vw

		&--top
			opacity: 0.9
			transform: rotate(-2deg)

		&--bottom
			opacity: 0.95
			transform: rotate(-5deg)

	&__content
		position: relative

	&__logo
		width: 8rem

	&__title
		font-size: 2.5rem
		font-weight: 400
		margin-top: 1.25rem

	&__byline
		color: rgba(255,255,255,0.8)
		font-size: 1.125rem
		margin-top: 0.6125rem

	&__buttons
		align-items: center
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin-top: 1.75rem

	&__button
		align-items: center
		background-color: rgba(255,255,255,0.9)
		border-radius: 6px
		color: $font-color
		display: inline-flex
		flex: 0
		flex-basis: 24%
		font-size: 1.125rem
		font-weight: 500
		justify-content: center
		max-width: 24%
		padding: 0.875rem
		text-decoration: none
		transition: all linear 0.2s

		&:hover
			background-color: white

		&:active, &:focus
			background-color: rgba(255,255,255,0.5)

		& + &
			margin-left: 1.25rem

		&__label
			margin-left: 0.6125rem

		@media (max-width: $screen-sm-max)
			flex-basis: 35%
			max-width: 35%

		@media (max-width: $screen-xs-max)
			flex-basis: 100%
			max-width: 100%

			& + &
				margin-left: 0
				margin-top: 0.6125rem

	&__apps
		margin-top: 2.5rem

	&__apps__text
		color: rgba(255,255,255,0.8)


	&__apps__buttons
		margin-top: 1.25rem

	&__apps__button
		background-color: rgba(255,255,255,0.1)
		border-radius: 6px
		display: inline-flex
		padding: 0 0.6125rem
		transition: all linear 0.2s

		&:hover
			background-color: rgba(255,255,255,0.15)
		& + &
			margin-left: 1.25rem

	&__apps__badge
		height: 3.75rem

	&__image
		display: block
		margin-bottom: -8rem
		margin-top: 3.75rem
		min-height: 25rem

		@media (max-width: $screen-xs-max)
			margin-bottom: -6rem

	&__image__img
		width: 50%

		@media (max-width: $screen-sm-max)
			width: 75%

		@media (max-width: $screen-xs-max)
			width: 100%
