.people
	padding: 5rem 0 2.25rem
	border-top: 10px solid #F9FAFB

	&__title
		font-size: 1.75rem
		font-weight: 400
		text-align: center

	&__text
		margin-top: 1.75rem
		text-align: center
		padding: 0 10%

	&__link
		color: currentColor

		&:hover
			color: currentColor
			text-decoration: none

.people__list
	align-items: flex-start
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	margin-top: 3rem
	position: relative

	&__item
		border-radius: 6px
		color:$font-color
		padding: 1.25rem 2.5rem
		text-align: center
		text-decoration: none

		&:hover
			background-color: #F9F9F9

		@media (max-width: $screen-sm-max)
			flex-basis: 50%
			max-width: 50%


	&__image
		width: 6rem
		border-radius: 50%

	&__name
		font-size: 1.25rem
		font-weight: 400
		margin-top: 1.25rem

	&__byline
		color: rgba(0,0,0,0.8)
