// Fonts
$system-font = -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

// Default font settings
$font-stack = $system-font
$font-size = 16
$font-color = #333

// Screens
$screen-xs = 480px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px

$screen-lg-min = $screen-lg
$screen-md-min = $screen-md
$screen-sm-min = $screen-sm
$screen-xs-min = $screen-xs

$screen-xs-max = ($screen-sm-min - 1);
$screen-sm-max = ($screen-md-min - 1);
$screen-md-max = ($screen-lg-min - 1);
