html
	font-size: 16px

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		font-size: 16px

	@media (max-width: $screen-xs-max)
		font-size: 13px

h1, h2, h3, h4, h5, h6
	font-weight: 500
	margin: 0;

ul, p
	margin: 0

p + p
	margin-top: 1.25rem
